.container {
	margin: 0 auto;
	margin-top: 200px;
	border-radius: 5px;
	border: solid 2px black;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 250px;
}
.keha {
	background-color: lightblue;
	align-content: center;
}
.text {
	font-size: 20px;
	font-family: Courier;
	font-weight: bold;
}
.task {
	font-size: 20px;
	font-family: Courier;
	font-weight: bold;
}
.tasks {
	margin: 0 auto;
	margin-top: 100px;
	border-radius: 5px;
	border: solid 2px black;
    background-color: lightblue;
    padding: 10px;
    max-width: 250px;
}
.content {
	margin: 0 auto;
	margin-top: 200px;
	border-radius: 5px;
	border: solid 2px black;
    background-color: #42bff4;
    padding: 10px;
    max-width: 350px;
}
a:hover {
	text-decoration: none;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
button {
	margin-top: 5px;
    background-color: lightblue;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    font-family: Courier;
    font-size: 18px;
    font-weight: bold;
}
.input {
	margin-bottom: 5px;
	margin-top: 5px;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 20px;
}
.error {
	color: red;
}
.form {
	font-size: 20px;
	font-family: Courier;
	font-weight: bold;
}